@model List<BibliotecaDigital.Core.Entities.Libro>


@{
    ViewData["Title"] = "Books List";

}
<h1>Books List</h1>

<a class="nav-link text-black" asp-area="" asp-controller="Libro" asp-action="Create">Create New Book</a>

<form asp-action="Index" method="post">
   @*  <label>Id</label>
    <input name="Id" class="form-control" /> *@

    <label>Titulo</label>
    <input name="Titulo" class="form-control" />

    <label>Autor</label>
    <input name="Autor" class="form-control" />

    <label>AnioPublicacion</label>
    <input name="AnioPublicacion" class="form-control" />

    <button type="submit" class="btn btn-outline-primary mt-2">Buscar</button>

</form>

@*ocultar botones segun permisos*@
@* @if (User.IsInRole("Administrador") || User.IsInRole("Bibliotecario"))
{
    <a asp-action="Create" class="btn btn-primary">Crear</a>
    <a asp-action="Update" class="btn btn-primary">Editar</a>
}
@if (User.IsInRole("Administrador"))
{
    <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
} *@


<table class="table">
    <thead>
        <tr>
           @*  <th>Id</th> *@
            <th>Titulo</th>
            <th>Autor</th>
            <th>AnioPublicacion</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model)
        {
            <tr>
              @*   <td>@book.Id</td> *@
                <td>@book.Titulo</td>
                <td>@book.Autor</td>
                <td>@book.AnioPublicacion</td>
                <td>
                    <a asp-controller="libro" asp-action="Edit" asp-route-id="@book.Id" class="btn btn-primary">Edit</a>
                    @* <a asp-action="Details" asp-route-id="@book.Id" class="btn btn-info">Details</a> *@
                    <a asp-controller="Libro" asp-action="Delete" asp-route-id="@book.Id" class="btn btn-danger">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
